<div ><mat-sidenav-container >
 <mat-nav-list>
    <a mat-list-item [routerLink]="'/dashboard'"><span>Dashboard</span></a>
    
    <mat-expansion-panel [class.mat-elevation-z0]="true">
     
      <mat-expansion-panel-header>
          Courses
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item [routerLink]="'/dashboard/categories'"> Categories list </a>
        <a mat-list-item [routerLink]="'/dashboard/subcategories'"> Subcategories list </a>
        <a mat-list-item [routerLink]="'/contacts'"> Courses list </a>
       </mat-nav-list>
  </mat-expansion-panel>
  

  <mat-expansion-panel [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header>Exam Centers</mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/contacts'"> Add Exam center</a>
      <a mat-list-item [routerLink]="'/contacts'"> Exam center list </a>     
    </mat-nav-list>
</mat-expansion-panel>

<mat-expansion-panel [class.mat-elevation-z0]="true">
  <mat-expansion-panel-header>Certificate Verification</mat-expansion-panel-header>
  <mat-nav-list>
    <a mat-list-item [routerLink]="'/contacts'"> Add Certificate Verification</a>
    <a mat-list-item [routerLink]="'/contacts'">Certificate Verification list  </a>     
  </mat-nav-list>
</mat-expansion-panel>

<mat-expansion-panel [class.mat-elevation-z0]="true">
  <mat-expansion-panel-header>Orders</mat-expansion-panel-header>
  <mat-nav-list>
    <a mat-list-item [routerLink]="'/contacts'"> Orders list</a>    
  </mat-nav-list>
</mat-expansion-panel>

<mat-expansion-panel [class.mat-elevation-z0]="true">
  <mat-expansion-panel-header>News</mat-expansion-panel-header>
  <mat-nav-list>
    <a mat-list-item [routerLink]="'/contacts'"> Add news</a> 
    <a mat-list-item [routerLink]="'/contacts'"> News list</a>    
  </mat-nav-list>
</mat-expansion-panel>

<mat-expansion-panel [class.mat-elevation-z0]="true">
  <mat-expansion-panel-header>Clients</mat-expansion-panel-header>
  <mat-nav-list>
    <a mat-list-item [routerLink]="'/contacts'"> Add clients</a> 
    <a mat-list-item [routerLink]="'/contacts'"> Clients list</a>    
  </mat-nav-list>
</mat-expansion-panel>


<mat-expansion-panel [class.mat-elevation-z0]="true">
  <mat-expansion-panel-header>Testimonilas</mat-expansion-panel-header>
  <mat-nav-list>
    <a mat-list-item [routerLink]="'/contacts'"> Add testimonilas</a> 
    <a mat-list-item [routerLink]="'/contacts'"> Testimonilas list</a>    
  </mat-nav-list>
</mat-expansion-panel>

<mat-expansion-panel [class.mat-elevation-z0]="true">
  <mat-expansion-panel-header>Users</mat-expansion-panel-header>
  <mat-nav-list>
    <a mat-list-item [routerLink]="'/contacts'">Users list</a>    
  </mat-nav-list>
</mat-expansion-panel>

<mat-expansion-panel [class.mat-elevation-z0]="true">
  <mat-expansion-panel-header>Contact Requests</mat-expansion-panel-header>
  <mat-nav-list>
    <a mat-list-item [routerLink]="'/contacts'">Became an exam centers request list</a> 
    <a mat-list-item [routerLink]="'/contacts'">Exam centers request list</a>  
    <a mat-list-item [routerLink]="'/contacts'">cONTACT request list</a>     
  </mat-nav-list>
</mat-expansion-panel>

<mat-expansion-panel [class.mat-elevation-z0]="true">
  <mat-expansion-panel-header>Page meta tags</mat-expansion-panel-header>
  <mat-nav-list>
    <a mat-list-item [routerLink]="'/contacts'">Meta tags list</a>     
  </mat-nav-list>
</mat-expansion-panel>


  </mat-nav-list>
</mat-sidenav-container>
</div>