<app-header [page_url]="page_name"></app-header>

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form [formGroup]="register" (ngSubmit)="formSubmit()">
                <mat-card>
                    <mat-card-header class="m-auto">
                        <mat-card-title>
                            <h1></h1>Register
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>first Name</mat-label>
                                    <input matInput placeholder="enter first name" formControlName="firstname">
                                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                </mat-form-field>
                                <mat-error
                                    *ngIf="submitted && f['firstname'].value=='' && f['firstname'].errors && f['firstname'].errors['required']">please
                                    enter first name</mat-error>

                            </div>

                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput placeholder="enter Last name" formControlName="lastname">
                                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                </mat-form-field>
                                <mat-error
                                    *ngIf="submitted && f['lastname'].value=='' && f['lastname'].errors && f['lastname'].errors['required']">please
                                    enter last name</mat-error>
                            </div>

                        </div>



                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                <mat-radio-group formControlName="gender">
                                    <mat-radio-button value="Male">Male</mat-radio-button>
                                    <mat-radio-button value="Female">Female</mat-radio-button>
                                </mat-radio-group>
                                <mat-error *ngIf="submitted && f['gender'].invalid">please enter last name</mat-error>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                <mat-form-field appearance="outline" style="width:600px">
                                    <mat-label>Mobile number</mat-label>
                                    <input matInput placeholder="enter 10 digits number" formControlName="phone">
                                    <mat-icon matSuffix>phone</mat-icon>
                                </mat-form-field>
                                <mat-error
                                    *ngIf="submitted && f['phone'].value=='' && f['phone'].errors && f['phone'].errors['required']">please
                                    enter valid mobile number</mat-error>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                <mat-form-field appearance="outline" style="width:600px">
                                    <mat-label>Email id</mat-label>
                                    <input matInput placeholder="enter email id" formControlName="email">
                                    <mat-icon matSuffix>email</mat-icon>
                                </mat-form-field>
                                <mat-error
                                    *ngIf="submitted && f['email'].value=='' && f['email'].errors && f['email'].errors['required']">please
                                    enter valid mobile number</mat-error>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                <mat-form-field appearance="outline" style="width:600px">
                                    <mat-label>Password</mat-label>
                                    <input matInput placeholder="enter password" type="password"
                                        formControlName="password">
                                    <mat-icon matSuffix>eye</mat-icon>
                                </mat-form-field>
                                <mat-error
                                    *ngIf="submitted && f['password'].value=='' && f['password'].errors && f['password'].errors['required']">please
                                    enter minium six characters</mat-error>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                <mat-form-field appearance="outline" style="width:600px">
                                    <mat-label>Confirm password</mat-label>
                                    <input matInput placeholder="re enter the password" type="password"
                                        formControlName="confirm_password">
                                </mat-form-field>
                                <mat-error
                                    *ngIf="submitted && f['confirm_password'].value=='' && f['confirm_password'].errors && f['confirm_password'].errors['required']">password
                                    is not matched</mat-error>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                <mat-form-field appearance="outline" style="width:600px">
                                    <mat-label>address</mat-label>
                                    <input matInput placeholder="enter the address detials" formControlName="address">
                                    <mat-icon matSuffix>address</mat-icon>
                                </mat-form-field>
                                <mat-error
                                    *ngIf="submitted && f['address'].value=='' && f['address'].errors && f['address'].errors['required']">password
                                    enter address details</mat-error>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                <mat-form-field appearance="outline" style="width:600px">
                                    <mat-label>City</mat-label>
                                    <mat-select formControlName="city">
                                        <mat-option [value]="">None</mat-option>
                                        <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-error
                                    *ngIf="submitted && f['city'].status=='INVALID' && f['city'].errors && f['city'].errors['required']">please
                                    select city</mat-error>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                <mat-form-field appearance="outline" style="width:600px">
                                    <mat-label>state</mat-label>
                                    <mat-select formControlName="state">
                                        <mat-option>None</mat-option>
                                        <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                <mat-form-field appearance="outline" style="width:600px">
                                    <mat-label>country</mat-label>
                                    <mat-select formControlName="country">
                                        <mat-option>None</mat-option>
                                        <mat-option *ngFor="let country of countries"
                                            [value]="country">{{country}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                <mat-checkbox formControlName='check_box' class="example-margin">Accepting all terms and
                                    conditions</mat-checkbox>
                            </div>
                        </div>
                    </mat-card-content>
                    <div>
                        <mat-card-actions class="m-auto">
                            <button mat-raised-button color="primary" type="submit">Register</button> &nbsp;&nbsp;&nbsp;
                            <button mat-button mat-raised-button color="warn" type="button">Cancel</button>
                        </mat-card-actions>
                    </div>
                </mat-card>
            </form>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>